*{
    margin: 0;
    padding: 0;
}

/* Navbar  */
nav{
    width: 100%;
    height: 80px;
    display: flex;
    margin: auto;
    border: 1px solid black;
    background: #a2d2ff;
}

.navbar{
    display: flex;
    margin: auto;
}

.nav-item{
    margin: 1rem ;
}

#name{
    font-size: 2.5rem;
}

.hire-button{
    margin-right: 20px;
}

.button-item{
    margin-right: 20px;
}

/* Section 1st */

.intro{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.intro-sub{
    width: 50%;
    border: 1px solid black;
}

/* Section about */

.about{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;

}

.introbrief{
    width: 50%;
    border: 1px solid black;
}

/* Section Projects  */

.projects{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.project-sub{
    width: 30%;
    border: 1px solid black;
}

/* Section touch  */

.touch{
    /* display: flex; */
    border: 1px solid black;
    width: 100%;
    height: 600px;   
}