/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}


/* Navbar  */


.navbar{
    display: flex;
    background: black;
    
}

.item-list{
    width: 80%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: auto;
    /* position: fixed; */
}

.nav-item{
    margin: auto;
    justify-content: space-evenly;
    text-decoration: none;

}

.logo{
    font-family: 'Shrikhand', 'cursive', 'san-sarif';
    color: white;
    border: 3px solid white;
    padding: 10px;
    border-radius: 50%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #DBDFEA; */
    color: #7a818f;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button:hover {
    /* background-color: #D1EFFB; */
    color: rgb(231, 237, 255);
    border: 1px solid #333E52;
  }
  
  .button:focus {
    outline: none;
  }





/* Section intro */

.intro{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 450px;
}

.intro-sub{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    flex-direction: column;
}

.intro-column1{
    margin: 8rem 0 1rem 0;
}

.intro-column2{
    width: 70%;
    margin: auto;
}

.name{
    text-align: center;
    font-size: 3rem;
}

.intro-text{
    text-align: center;
}

/* Section about */

.about-intro{
    display: flex;
    background: black;
    height: 600px;
}

.left{
    width: 30%;
    display: flex;
}

.profile-pic{
    margin: auto;
    margin-right: 10px;
}

.right{
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
}

.pic{
    height: 300px;
}

.heading{
    margin: 4rem 0;
}

.heading>p{
    font-size: 2rem;
}
.heading>h1 {
    font-size: 4rem;
}

.heading-about{
    display: flex;
    text-align: left;
    width: 85%;
}


/* Section Projects  */

.projects{
    background: black;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.project-heading{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.project-sub{
    width: 90%;
    margin: auto;
}

.project-name{
    color: rgb(208, 215, 234);
    margin: 20px;
}

.project-topic:hover{
    color: white;
}

.project-desc{
    width: 90%;
}

.desc-bar{
    margin: 2rem;
}

.desc-points{
    color: white;
}

/* Section contact  */

.contact{
    background: black;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.last-message{
    color: white;
    text-align: center;
}

.contact-context{
    text-align: center;
    color: white;
    margin: 1rem;
}

.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-info{
    color: white;
}



.footer{
    height: 3rem;
    width: 100%;
    background: black;
}

.footer-content{
    padding: 1rem;
    color: white;
    
}