*{
    margin: 0;
    padding: 0;
}

/* Navbar  */
nav{
    border: 1px solid black;
    background: #a2d2ff;
}

.logo{
    width: 20%;
    border: 1px solid black;
}

.item-list{
    width: 60%;
    border: 1px solid black;
}

.button{
    width: 20%;
    border: 1px solid black;
}

.navbar{
    display: flex;
}

.nav-component{
    height: 80px;
}

/* Section intro */

.intro{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.intro-sub{
    width: 50%;
    border: 1px solid black;
}

.intro-sub{
    display: flex;
    flex-direction: column;
}

.intro-column1{
    margin: 8rem 0 3rem 0;
}

.intro-column2{
    margin: 2rem 0 1rem 0;
}

.intro-column3{
    margin: 2rem 0 1rem 0;
}
/* Section about */

.about-intro{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;

}

.introbrief{
    width: 50%;
    border: 1px solid black;
}

/* Section Projects  */

.projects{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.project-sub{
    width: 30%;
    border: 1px solid black;
}

/* Section touch  */

.touch{
    /* display: flex; */
    border: 1px solid black;
    width: 100%;
    height: 600px;   
}